
html {
  min-height: 100%;
  position: relative;
}
body {
background-color: white;
 margin-bottom: 80px;
}

.footer {
  border-top: 3px solid #C40F0F;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
#contenido{
  padding-top: 20px;
}
